<div id="fondo">
  <br/>
  <br/>
  <br/>
<h1 id="text" >Contacto</h1>
<br/><br/><br/>
<p id="text">Envíame un mensaje y te contestaré lo más rápido que sea humanamente posible.</p>
<br/>
<div class="container">
  <div class="row">
    <div id="text" class="col-6">
      C/ Centelles, núm 17, Bajo
    </div>
    <div id="text" class="col-6">
      Rellena el formulario
    </div>
  </div>

  <br/>

  <div class="row">
    <div id="text" class="col-12">
      Nombre
      <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
    </div>
  </div>

  <br/><br/><br/>

  <div class="row">
    <div id="text" class="col-6">
      input email
      <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
    </div>
    <div id="text" class="col-6">
      input asunto
      <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
    </div>
  </div>


  <br/><br/><br/>

  <div class="row">
    <div id="text" class="col-12">
      <label for="exampleFormControlTextarea1">Mensaje</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </div>

  <br/><br/>

  <div class="row">
    <div id="text" class="col-6">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheckDisabled" disabled>
        <label class="custom-control-label" for="customCheckDisabled">Check this custom checkbox</label>
      </div>
    </div>
    <div id="text" class="col-6">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </div>

  <br/>
  <br/>
</div>



</div>
