<div >
  <h1>¿QUÉ TÉCNOLOGÍA UTILIZO?</h1>
  <p>
    Busco el equilibrio entre lo puntero y lo estable. Con lenguajes de programación como Python, PHP, Clojure, Javascript, Lua, Lisp o Java. Siempre con la ayuda de Frameworks como: Django, NodeJS, Laravel, Flask y VueJS.

Aunque también puedo trabajar con CMSs como WordPress creando plantillas a medida o plugins personalizados.

Respecto a smartphones o móviles, creo en trabajar siempre que se pueda con Apps nativas o PWA (Progressive Web App‎), aunque siempre hay lugar para las Apps Híbridas con Vue-cli y Cordova/Phonegap.
  </p>
  <br/>
  <br/>
  <p>
    Barras de porcentje de conociemnto en lengiajes y tecnologias dede desarrollo
  </p>

  <br/><br/>

</div>


<div class="container">
  <div class="row">
    <div id="text" class="col-6">
      C/ Centelles, núm 17, Bajo
    </div>
    <div id="text" class="col-6">
      Rellena el formulario
    </div>
  </div>

  <br/>

  <div class="row">
    <div id="text" class="col-12">
      Nombre
      <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
    </div>
  </div>

  <br/><br/><br/>

  <div class="row">
    <div id="text" class="col-6">
      input email
      <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
    </div>
    <div id="text" class="col-6">
      input asunto
      <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
    </div>
  </div>


  <br/><br/><br/>

  <div class="row">
    <div id="text" class="col-12">
      <label for="exampleFormControlTextarea1">Mensaje</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </div>

  <br/><br/>

  <div class="row">
    <div id="text" class="col-6">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheckDisabled" disabled>
        <label class="custom-control-label" for="customCheckDisabled">Check this custom checkbox</label>
      </div>
    </div>
    <div id="text" class="col-6">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </div>

  <br/>

</div>

