<body>
  <div class="p-3 bg-dark">
    <table class="table">
      <thead>
        <tr>
          <th>
            <img class="circular--square" src="../../assets/img/CAMPOY.jpg" alt="Logo de la conferencia" />
          </th>

          <th class="titulo">
            <h1 class="text">Web Development</h1>
          </th>
        </tr>
      </thead>
    </table>
  </div>


  <br>
  <div style="margin-left: 2%;">
    <a type="button" (click)="scrollToElement(target)">
      <img class="imgContacto" src="../../assets/img/Cont.png" /><b> Contacto </b></a>
    <!-- <input type="checkbox" class="custom-control-input" id="customCheckDisabled" disabled>
    <label class="custom-control-label" for="customCheckDisabled">Check this custom checkbox</label> -->
  </div>
  <br>




  <div class="container bg-white">


    <div class="c1">
      <div class="card">
        <div class=" card-body">
          <h5 class="card-title">Sobre Mi</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">¿Qué servicios hago?</li>
          <div class="card-body">
            <p class="card-text">
              Actualmente creo, diseño, actualizo y mantengo páginas y portales
              web avanzados tanto en el lado del servidor (Back-end) como en el
              lado del cliente (Front-end, UX/UI). Continuamente aprendiendo y
              adquiriendo nuevas habilidades en función a las actuales y futuras
              demandas y tendencias tecnológicas en el campo del diseño y
              desarrollo de aplicaciones web en general. Apasionado con el
              trabajo que realizo, ofreciendo en cada proyecto total atención,
              dedicación, personalización y calidad al cliente.
            </p>
          </div>
        </ul>
      </div>
    </div>

    <br>

    <div class="c2">
      <img class="logoHttp" alt="Responsive image" src="../../assets/img/leng4.png" alt="Third slide" />
    </div>

  </div>
</body>

<br>

<div #target></div>

