<body style="word-wrap: break-word;">
  <div id="div1" >
    <div class="row">
      <div id="img" class="col-6">
        <br/><br/><br/><br/><br/>
        <img style="margin-left: 10%;" src="../../assets/img/leng4.png" />
      </div>

      <div class="col-6">
        <br/><br/>
        <h1 class="display-4" style="color: rgb(119, 178, 255); margin-left: 4%;" >Desarrollador Web <br/> Front-End <br/>y Back-End</h1>
      </div>
    </div>
    <br/><br/><br/><br/><br/>
  </div>


    <div id="div2" >
    <div class="row">
      <div id="text" class="col-6">
        <div class="card" style="width: 20rem; margin: 6%;">
          <div class="card-body">
            <h5 class="card-title">Sobre Mi</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">¿Qué servicios hago?</li>
            <div class="card-body">
              <p class="card-text">
                Actualmente creo, diseño, actualizo y mantengo páginas y portales
                web avanzados tanto en el lado del servidor (Back-end) como en el
                lado del cliente (Front-end, UX/UI). Continuamente aprendiendo y
                adquiriendo nuevas habilidades en función a las actuales y futuras
                demandas y tendencias tecnológicas en el campo del diseño y
                desarrollo de aplicaciones web en general. Apasionado con el
                trabajo que realizo, ofreciendo en cada proyecto total atención,
                dedicación, personalización y calidad al cliente.
              </p>
            </div>
          </ul>
        </div>
      </div>
      <div class="col-6">
        <br/><br/>
        <img width="70%" lenght="70%" src="../../assets/img/1567305.png" alt="Third slide" />
      </div>
    </div>

  </div>

</body>
